.pull-left {
    float:left;
}
.pull-right {
    float:right;
}
.form-parent {
    border: 1px solid #d8d8d8;
    padding-top: 10px;
    float:left;
}
.pl-15 {
    padding-left:15px;
}
.m-b-20 {
    margin-bottom:20px;
}
.m-t-20 {
    margin-top:20px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .ng-dirty:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
.alert-danger {
    position: absolute;
    z-index: 5;
}